<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container mt-5">
      <h1>Welcome to Course Management System</h1>
      <hr />
      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Student Management</h5>
              <p class="card-text">Manage students' information.</p>
              <a href="/student_management" class="btn btn-primary"
                >Go to Student Management</a
              >
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Course Management</h5>
              <p class="card-text">Manage courses' information.</p>
              <a href="/course_management" class="btn btn-primary"
                >Go to Course Management</a
              >
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Enrollment Management</h5>
              <p class="card-text">Manage enrollments' information.</p>
              <a href="/enrollment_management" class="btn btn-primary"
                >Go to Enrollment Management</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Professor Management</h5>
              <p class="card-text">Manage professors' information.</p>
              <a href="/professor_management" class="btn btn-primary"
                >Go to Professor Management</a
              >
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Lecture Management</h5>
              <p class="card-text">Manage lectures' information.</p>
              <a href="/lecture_management" class="btn btn-primary"
                >Go to Lecture Management</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
